<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
    <header>
        <h1>Приложение для отображения языков программирования</h1>
        <nav>
            <a href="/">Главная</a>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <p>&copy; 2024. Все права защищены.</p>
    </footer>
</body>
</html>
