@model ProgrammingLanguage
@{
    ViewData["Title"] = Model.Name;
}

<h1 style="color: @ViewBag.Color">@Model.Name</h1>
<p>@Model.Description</p>
<a href="/Programming/Example/@Model.Name">Пример кода</a>
